{% extends "common/layout.html" %}

{# ------------------------CSS HERE---------------------------- #}
{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/photographs_index.css">
{% endblock css %}

{# ------------------------JAVASCRIPT HERE--------------------- #}
{% block javascript %}
	<SCRIPT TYPE="text/javascript" src="/static/js/photographs_index.js"></SCRIPT>
{% endblock javascript %}

{# ------------------------CONTENT HERE------------------------ #}
{% block main_content %}
<div class="row display">
	<div class="twelve columns">
	<h1 class="comfortaa">Photographs</h1>
	<h3><small>Beauty of what we saw ...</small></h3>
	</div>
</div>
<div class="row display">
	<div class="twelve columns">
	<ul class="block-grid three-up">
	{% for image in image_list %}
		<li class="image_div">
			<div class="overlay_parent">
			<img src="{{ image.image_s }}">
				<div class="overlay">
					<p><span class="title newscycle">{{ image.name }}</span>{[{'yet'+'yet'}]}</p>
				</div>
			</div>
		</li>
	{% endfor %}
	</ul>
</div>
</div>	

{% endblock main_content %}