{% extends "common/layout.html" %}

{# ------------------------CSS HERE---------------------------- #}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/photographs_index.css">
{% endblock css %}

{# ------------------------JAVASCRIPT HERE--------------------- #}
{% block javascript %}
	<SCRIPT TYPE="text/javascript" src="{{ STATIC_URL }}js/photographs_index.js"></SCRIPT>
{% endblock javascript %}

{# ------------------------CONTENT HERE------------------------ #}
{% block main_content %}

{# HEADER HERE #}
<div class="row display page-title-border">
	<div class="twelve columns">
	<h1 class="comfortaa slave">Photographs</h1>
	<h3><small>Beauty of what we saw ...</small></h3>
	</div>
</div>

{# IMAGES HERE #}
<div class="row">
	<div class="twelve columns">
			<div class="right">
		<select class="right" required="required" ng-model="orderSelected" ng-change="updateImages()" ng-options="om.value as om.name for om in orderMethod"></select>
	</div>
	<ul class="block-grid three-up " id="overlay_master">
		<li class="image_div ng-cloak" ng-repeat="image in images" slidy="1000">
			<div class="overlay_parent">
			<a href="#" ng-click="updateReveal($index)" data-reveal-id="reveal_modal"><img ng-src="{[{image.image_s}]}"></a>
				<div class="overlay">
					<p class="general foundicon-heart right" ng-class="{[{ image.liked }]}"><span>{[{ image.likes }]}</span></p>
					<p><span class="title newscycle">{[{ image.name }]}</span></p>
				</div>
			</div>
		</li>
	</ul>
	</div>
</div>

{# NEXT BUTTON HERE #}
<div class="row display">
	<div class="twelve columns">
		<a href="#" class="right small secondary button slave slave-hover grey-border" ng-click="moreImages()">MORE</a>
	</div>
</div>

{% endblock main_content %}

{# ------------------------MODAL HERE------------------------ #}
{% block reveal_modal %}
<div id="reveal_modal" class="reveal-modal large">
	<div class="row">
		<div class="twelve columns no-padding reveal_master">
			<div class="button_group">
				<a class="prev_image image_btn general foundicon-left-arrow" ng-click="previousImage()"></a>
				<a class="like_image general foundicon-heart" ng-click="like()"></a>
				<a class="next_image image_btn general foundicon-right-arrow" ng-click="nextImage()"></a>
			</div>
			<div class="reveal_overlay">
				<div class="info">
					<h2>{[{ revealData.name }]}</h2>
					<h6>{[{ revealData.description }]}</h6>
				</div>
				<a href="" class="overlay_trigger right"><p class="general foundicon-plus"></p></a>
			</div>
			<img ng-src="{[{ revealData.image_m }]}" class="reveal_image ng-cloak">
		</div>
	</div>
</div>	
{% endblock reveal_modal %}