{% extends "common/layout.html" %}

{# ------------------------CSS HERE---------------------------- #}
{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/photographs_index.css">
{% endblock css %}

{# ------------------------JAVASCRIPT HERE--------------------- #}
{% block javascript %}
	<SCRIPT TYPE="text/javascript" src="/static/js/photographs_index.js"></SCRIPT>
{% endblock javascript %}

{# ------------------------CONTENT HERE------------------------ #}
{% block main_content %}
<div>

{# HEADER HERE #}
<div class="row display">
	<div class="twelve columns">
	<h1 class="comfortaa">Photographs</h1>
	<h3><small>Beauty of what we saw ...</small></h3>
	<div class="right">
		<select class="right" required="required" ng-model="orderSelected" ng-change="updateImages()" ng-options="om.value as om.name for om in orderMethod"></select>
	</div>
	</div>
</div>

{# IMAGES HERE #}
<div class="row">
	<div class="twelve columns">
	<ul class="block-grid three-up " id="overlay_master">
		<li class="image_div" ng-repeat="image in images" fadey="1000">
			<div class="overlay_parent">
			<a href="#" ng-click="updateReveal($index)" data-reveal-id="reveal_modal"><img src="{[{image.image_s}]}"></a>
				<div class="overlay">
					<p class="general foundicon-heart right"> {[{ image.likes }]}</p>
					<p><span class="title newscycle">{[{ image.name }]}</span></p>
				</div>
			</div>
		</li>
	</ul>
	</div>
</div>

{# NEXT BUTTON HERE #}
<div class="row display">
	<div class="twelve columns">
		<a href="#" class="right small secondary button" ng-click="moreImages()">MORE</a>
	</div>
</div>


</div>

{% endblock main_content %}

{# ------------------------MODAL HERE------------------------ #}
{% block reveal_modal %}
<div id="reveal_modal" class="reveal-modal xlarge">
	<h1>{[{ revealData.name }]}</h1>
	<img src="{[{ revealData.image_m }]}">
</div>	
{% endblock reveal_modal %}