div.project_row{
	background: none repeat scroll 0px 0px rgba(48, 48, 48, 0.97);
}

img.main_image{
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0.4;
}

div.title_wrapper{
	height: 70px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

div.title_overlay {
	height: 100%;
	background: none repeat scroll 0 0 rgba(17, 17, 17, 0.22);
	opacity: 1;
	right: -35%;
	padding: 0 !important;
}

div.grayscale{
	height: 100%;
	width: 100%;
	background: none repeat scroll 0 0 #171717;
	position: absolute;
	opacity: 0;
	top: 0;
	z-index: 1;
}

.project_title{
	margin: 20px;
	position: relative;
	z-index: 2;
	color: #F8F8F8;

}
.body_project_title,.technology_title{
	color: rgba(173, 186, 187, 0.87);
}

.body_project_description > small{
	line-height: 160%;
}
.body_wrapper{
	padding-left: 20px !important;
}

.body_wrapper > div{
	margin: 30px 0 10px !important;
}

img.image_gallery{
    margin: 0 5%;
    width: 90%;
}
.technology_title{
	margin-bottom: 5px;
}
ul.technology_list{
	list-style: none;
	margin-left: 15px;
}

ul.technology_list > li, .body_project_description > small{
	color:rgb(175, 175, 175);
}
.body_project_description{
	margin-top: 0;
}

.hide_element{
	display: none;
}
.opacity_dark{
	opacity: 0.43 !important;
}
.button_group{
	margin-top: 10px;
    text-align: center;
    width: 100%;
}
.image_btn{
	color: white !important;
	font-size: 2.5em;
	margin: 0 15px;
}
.image_group{
	position: relative;
}
.image_gallery:first-child{
	position: relative !important;
}
.image_gallery{
	position: absolute;
	top: 0px;
	left: 0px;
}

.button.secondary.small.urllink{
	padding: 6px 14px;
	font-size: 13px;
}