{% extends "common/layout.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blogs_index.css">
{% endblock css %}

{# ------------------------JAVASCRIPT HERE--------------------- #}
{% block javascript %}

{% endblock javascript %}

{# ------------------------CONTENT HERE------------------------ #}
{% block main_content %}
<div>

{# HEADER HERE #}
<div class="row display page-title-border">
<div class="twelve columns">

	<h1 class="comfortaa slave">Blog</h1>
	<h3><small>Geek and Non-Geek Stuff</small></h3>
<!-- 	<div class="right">
		<select class="right" required="required" ng-model="orderSelected" ng-change="updateImages()" ng-options="om.value as om.name for om in orderMethod"></select>
	</div> -->

</div>
</div>
<div class="row display">
<div class="ten columns">
	<div class="article_wrapper row display">
		<div class="twelve columns">
			<h4 class="">{{ blog.title }} - <small>{{ blog.created }}</small></h4>
			<div class="article_content">
				{% autoescape off %}
					{{ blog.content }}
				{% endautoescape %}
			</div>
		</div>
	</div>
</div>
<div class="two columns">
	<h5>Tags</h5>
</div>
</div>
{% endblock main_content %}