
{% extends "common/layout.html" %}
{% load url from future %}
{# CSS HERE #}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/portfolios_index.css">
{% endblock css %}

{# JAVASCRIPT HERE #}
{% block javascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/portfolios_index.js"></script>
{% endblock javascript %}


{% block main_content %}
<div class="row display">
	<div class="three columns">
	<img src="{{ MEDIA_URL }}portfolios_index/profile.jpg" id="profile_image"/>
	</div>
	<div class="nine columns">
		<div class="row top_selector">
			<dl class="tabs three-up">
				<dd selector_data="i_am"><a href="#"><h3 id="first_selector" class="slave-invert-hover">I AM </h3></a></dd>
				<dd selector_data="i_do"><a href="#"><h3 class="slave-invert-hover">I CODE</h3></a></dd>
				<dd selector_data="i_love"><a href="#"><h3 class="slave-invert-hover">I LOVE</h3></a></dd>
			</dl>
		</div>
		<div class="row top_content">
			<p> 
				code style work 
				<span class="i_am">David Tjokroaminoto</span>
				<span class="i_love">backend developing</span>
				food paragraph cascading
				<span class="i_do">CSS3</span> 
				hypertext markup language
				<span class="i_do">Javascript</span>
				color border android
				<span class="i_love">computers</span>
				<span class="i_am">student</span>
				padding boilerplate angular
				<span class="i_do">Django</span>
				<span class="i_love">cats</span>
				yeoman node array object 
				<span class="i_am">geek</span>
				<span class="i_love">programming</span>
				<span class="i_do">HTML5</span>
				textbox color ipad precision
				<span class="i_love">designing websites</span> 
				<span class="i_am">aspiring developer</span>
				background sublime text macbook windows 
				<span class="i_do">PHP</span> 
				linux redhat iphone wordpress backbone tablet
				<span class="i_love">photography</span>
				<span class="i_do">Python</span>
				<span class="i_am">Melbourne, Australia</span>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<dl class="tabs twelve-up"><dd class="active grey-border"><a href="#" class="slave">About Me</a></dd></dl>
		<ul class="tabs-content contained">
			<li class="active">
				<p class="newscycle">
					David Tjokroaminoto (cho-co-ah-me-no-tow)<br>
					Self-proclaimed geek.<br>
					Student at Monash University.<br>
					Loves web development.<br>
					Obsessive about building clean-looking websites.<br>
					Dwells in Melbourne, Australia.
				</p>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<dl class="tabs twelve-up"><dd class="active grey-border"><a href="#" class="slave">Origin</a></dd></dl>
		<ul class="tabs-content contained">
			<li class="active">
				<div class="row">
					<div class="four columns">
						<p>
							from <span id="id_flag">Medan, Indonesia</span><br>
							to <span id="au_flag">Melbourne, Australia</span><br><br>
							There are many things i like about Melbourne, one of them is the ridiculously comfortable weather :)
						</p>
							<h4><small class="right">*beware of sharks!</small></h4>
					</div>
					<div class="eight columns">
						<img src="{{ MEDIA_URL }}portfolios_index/origin.jpg" class="shadow">
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<dl class="tabs twelve-up"><dd class="active grey-border"><a href="#" class="slave">Anatomy</a></dd></dl>
		<ul class="tabs-content contained">
			<li class="active">
				<div class="row">
					<div class="four columns">
						<p>
							I devour emerging website technologies, latest markup language, scripting language, frameworks.<br>
							Basically anything that can level up my skills in developing beautiful websites.
						</p>
					</div>
					<div class="eight columns">
						<img src="{{ MEDIA_URL }}portfolios_index/devour.png">
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<dl class="tabs twelve-up"><dd class="active grey-border"><a href="#" class="slave">Photography</a></dd></dl>
		<ul class="tabs-content contained">
			<li class="active">
				<div class="row display">
					<div class="twelve columns centered">
						<div id="orbit_featured">
						{% for image in image_list %}
							<img src="{{ image.image_m }}"/>
						{% endfor %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="twelve columns ">
						<a href="{% url 'photographs:index' %}" class="button secondary comfortaa slave slave-hover grey-border right">GALLERY ></a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
{% endblock main_content %}