{% load url from future %}
<div class="top-bar home-border master-bg">
  <div class="attached">
    <div class="name">
      <span>
      {# <img src="{{MEDIA_URL}}layout/cz.png"/> #}
    </span>
    </div>
    <ul class="right">
      <li><a href="{% url 'home' %}" class="master-hover"><p class="social foundicon-torso "> ME</p></a></li>
      <li><a href="{% url 'blogs:index' %}" class="master-hover"><p class="social foundicon-wordpress "> blog</p></a></li>
      <li><a href="{% url 'projects:work' %}" class="master-hover"><p class="general foundicon-edit "> projects</p></a></li>
      <li><a href="{% url 'photographs:index' %}" class="master-hover"><p class="social foundicon-instagram "> photos</p></a></li>
      {# <li><a href="{% url 'contact' %}"><p class="general foundicon-phone "> contact</p></a></li> #}
    </ul>
  </div>
</div>