
.Comfortaa{font-family: 'Comfortaa', cursive;}
.NewsCycle{font-family: 'News Cycle',sans-serif}
.PontanoSans{font-family: 'Pontano Sans',sans-serif}

.top-bar .attached > .name {float:left;}
.top-bar .attached > .name span > a{font-size: 30px;}/*; text-shadow: 0 0 3px white;}*/
.top-bar .attached > .name span > a:hover{color:#fff;}
.top-bar .attached > ul > li > a > p{font-size: 16px;font-family: "Pontano Sans";}

body{
	background-color: #F4F4F4;
}

dl > dd > a {
	font-weight: normal !important;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Pontano Sans',sans-serif;
	font-weight: normal;
}
.orbit-wrapper .slider-nav span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 400ms; -moz-transition: opacity 400ms; -o-transition: opacity 400ms; transition: opacity 400ms; }
.orbit-wrapper:hover .slider-nav span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
#featured { background: url(spinner.gif) center center #f4f4f4; height: 300px; }
#featured img { display: none; }

#featured.orbit { background: none; }
#featured.orbit img { display: block; }