img#profile_image{
	z-index: -1;
	position: relative;
}

img#glasses{
	position: fixed;
	z-index: 999;
	height: auto;
	width: 165px;
	margin-left: 17px;
}
span#id_flag{
	font-weight: bold;
	color:#ff7a7a;
}
span#au_flag{
	font-weight: bold;
	color:#5659f5;
}

img.shadow{
	-webkit-box-shadow: 3px 3px 6px #acaeb0;
	-moz-box-shadow:    3px 3px 6px #acaeb0;
	box-shadow:         3px 3px 6px #acaeb0;
}
img.stack_image{
	position: absolute;
	width: 90%;
}
div.top_selector > dl > dd > a > * {
	margin-top: 3%;
}

div.top_selector > div > *{
	text-align: center;
}
div.top_content > p > span#intro_1{
	font-size: 30px;
	font-weight: 100;
}
div.top_content > p{
	font-size: 18px;
	color: #CBCBCB;
	padding: 0 10px;	
}
.selector_focus{
	color:#E64444;
}
div.row.display{
	margin-bottom: 20px;
}
.glow_selector{
	color: #949496;
}